body{
    background-color: lightgray;
}
.info{
    display:block;
    color:red
}
section{
    display:flex;
    height:200px;
    width:100%;
    border:1px dashed black;
    margin: 10px;
    justify-content: center;
    align-items: center;
}